body {
    background-color: aliceblue;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: firebrick;
    border: 5px;
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
    text-decoration: solid;
    display: inline;
    font-size: medium;
    margin: 2px 2px;
    cursor:crosshair;
}